@tailwind base;
@tailwind components;
@tailwind utilities;

.about {
    display: flex;
    align-items: center;
    position: relative;
}

.about::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: rgb(209 213 219); 
    margin-left: 10px;
}
@media screen and (min-width: 1024px) {
    .swiper-pagination-bullet {
      min-width: 14px !important;
      min-height: 14px !important;
    }
  }

.swiper-pagination-bullet {
    min-width: 8px;
    min-height: 8px;
    line-height: 10px;
    font-size: 12px;
    background: #306FBB !important;
    margin-bottom: 14px !important;
  }
  
  .swiper-pagination-bullet-active {
    background: #306FBB !important;
  }
